# Configurações do Servidor
PORT=3000

# API de IA (OpenRouter)
OPENROUTER_API_KEY=

# Modelo Recomendado para Qwen 2.5
# Opções: "qwen/qwen-2.5-7b-instruct" ou "qwen/qwen-2.5-72b-instruct"
LLM_MODEL=qwen/qwen-2.5-7b-instruct
